@import url("../style/global.css");


header {
    background-color: var(--secondary-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.nav__header {
    display: flex;
    gap: 100px;

}

.nav__header a {
    color: var(--text-color-white);
    font-size: 25px;
    font-weight: 600;
}

.section__header {
    display: flex;
    gap: 20px;
}

#icons {
    color: var(--text-color-white);
    font-size: 28px;
    cursor: pointer;
}