@import url("/src/style/global.css");

main {
  background-image: url("/src/img/backgroundDark.svg");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
}

h1 {
  background-color: var(--primary-color);
  height: 64px;
  font-weight: 700;
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 80px 0px 80px 0px;
}

ul {
display: flex;
flex-direction: row;
gap: 50px;
flex-wrap: wrap;
justify-content: center;
}

h3 {
  color: var(--text-color-white);
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

i {
  font-size: 30px;
  color: var(--text-color-white);
}
